<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description" content="BenneZaï, est un projet qui a vu le jour en novembre 2020, autour d'un projet étudiant regroupant des étudiants web marketings et d'autres en ingénieries informatiques, nous avons eu envie de mettre en place ce projet pour sensibiliser les personnes vers le recyclage et le tri, ce qui important dans notre société actuelle.">
    <meta name="author" content="WIS3 B3">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="BenneZai" /> <!-- website name -->
    <meta property="og:site" content="BenneZai" /> <!-- website link -->
    <meta property="og:title" content="{% block title %}BenneZai{% endblock %}"/> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="BenneZaï, est un projet qui a vu le jour en novembre 2020, autour d'un projet étudiant regroupant des étudiants web marketings et d'autres en ingénieries informatiques, nous avons eu envie de mettre en place ce projet pour sensibiliser les personnes vers le recyclage et le tri, ce qui important dans notre société actuelle." /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <!-- Webpage Title -->
    <title>BenneZai</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('css/swiper-bundle.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/magnific-popup.css') }}" rel="stylesheet">
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
    <link href="{{ asset('css/slider.css') }}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cc38370118.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/keske.css') }}">

    <!-- Favicon  -->
    <link rel="icon" href="{{ asset('icons/favicon.png') }}">
</head>
<body data-spy="scroll" data-target=".fixed-top">


{{ include('_navbar.html.twig') }}
{% block content %}

{% endblock %}
{{ include('_footer.html.twig') }}


<script src="{{ asset('js/jquery.min.js') }}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->


<!-- Scripts -->
<script src="{{ asset('js/bootstrap.min.js') }}"></script> <!-- Bootstrap framework -->
<script src="{{ asset('js/jquery.easing.min.js') }}"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="{{ asset('js/swiper-bundle.min.js') }}"></script> <!-- Swiper for image and text sliders -->
<script src="{{ asset('js/jquery.magnific-popup.js') }}"></script> <!-- Magnific Popup for lightboxes -->
<script src="{{ asset('js/morphext.min.js') }}"></script> <!-- Morphtext rotating text in the header -->
<script src="{{ asset('js/validator.min.js') }}"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
<script src="{{ asset('js/scripts.js') }}"></script> <!-- Custom scripts -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>
<script src="{{ asset('js/modernizr.js') }}"></script>

<script>
    var mySwiper = new Swiper('.swiper-container', {
        loop: true,

        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },

        pagination: {
            el: '.swiper-pagination',
        },
    })

    var sliderPartenaires = new Swiper('.slider-partenaires', {
        slidesPerView: 5,
        loop: true,

        autoplay: {
            delay: 1500,
            disableOnInteraction: false,
        },
    })
</script>
</body>
</html>